venv/
.idea/
.DS_Store
.ipynb_checkpoints/
__pycache__/
.vagrant
literature
logs
multi_cased*      
output
*.csv
*.pdf
*.zip
*.exe
*.png
tensorboard_logs
data
database
entities
1915
img
freqs
subcorpora
Vagrantfile
bootstrap.sh
.vscode
activate
*.geojson
*.json
location_article_lengths